beautifulsoup4==4.6.0
certifi==2018.4.16
chardet==3.0.4
Django==2.0.5
django-ckeditor==5.4.0
django-ipware==2.1.0
django-js-asset==1.1.0
django-suit==0.2.25
gunicorn==19.8.1
idna==2.7
maxminddb==1.4.1
Pillow==9.0.0
psycopg2==2.7.4
pytz==2018.4
requests==2.19.1
urllib3==1.23
