{% load nome_extras %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta property='og:title' content='{{ titulo }}'>
    <meta property='og:type' content=article>
    <meta property='og:description' content='{{ descricao }}'/>
    <meta property='og:image' content='http://www.castnautas.com.br{{ postagem.imagem_grande.url }}'/>
    <meta property='og:url' content='http://www.castnautas.com.br/post/{{ postagem.titulo|nome_post }}'/>
    <meta property='og:site_name' content='CastNautas'/>


    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title>Castnautas Podcast</title>

    {% load static %}
    <!-- CSS
    ================================================== -->
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-responsive.css' %}">
    <link rel="stylesheet" href="{% static 'css/prettyPhoto.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/flexslider.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/custom-styles.css' %}">

    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <link rel="stylesheet" href="css/style-ie.css"/>
    <![endif]-->

    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="{% static 'img/gallery/fav.png' %}">
    <link rel="apple-touch-icon" href="{% static 'img/apple-touch-icon.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/apple-touch-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/apple-touch-icon-114x114.png' %}">

    <!-- JS
    ================================================== -->
    <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
    <script src="{% static 'img/apple-touch-icon-114x114.png' %}"></script>
    <script src="{% static 'js/jquery.prettyPhoto.js' %}"></script>
    <script src="{% static 'js/jquery.flexslider.js' %}"></script>
    <script src="{% static 'js/jquery.custom.js' %}"></script>
    <script type="{% static 'js/jquery.custom.js' %}"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            $("#btn-blog-next").click(function () {
                $('#blogCarousel').carousel('next')
            });
            $("#btn-blog-prev").click(function () {
                $('#blogCarousel').carousel('prev')
            });

            $("#btn-client-next").click(function () {
                $('#clientCarousel').carousel('next')
            });
            $("#btn-client-prev").click(function () {
                $('#clientCarousel').carousel('prev')
            });

        });

        $(window).load(function () {

            $('.flexslider').flexslider({
                animation: "slide",
                slideshow: true,
                start: function (slider) {
                    $('body').removeClass('loading');
                }
            });
        });

    </script>


</head>
<body>
<div id="fb-root"></div>
<script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = 'https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.12&appId=194038274717155&autoLogAppEvents=1';
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

<div class="navbar" style="position: fixed; top: 0; width: 100%; z-index: 3000 ; border-radius:initial">
    <div class="navbar-inner" style="background: #0e0e0e; border-radius:initial;border-color: black">
        <div class="container">
            <div style="position: fixed;"><img src="{% static 'img/gallery/logo_cast_nautas.png' %}"
                                               style="height: 20%;width: 20%"></div>
            <ul class="nav pull-left" style="padding-left: 100px">

                <li><a href="{% url 'index' %}">Home</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Programas <b
                            class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'busca' 'boteco-cosmico' 1 %}">Boteco Cósmico</a></li>
                        <li><a href="{% url 'busca' 'castnautas-jogam' 1 %}">CastNautas Jogam</a></li>
                        <li><a href="{% url 'busca' 'audio-dramas' 1 %}">Audio Dramas</a></li>
                        <li><a href="{% url 'busca' 'adapta-que-eu-gosto' 1 %}">Adapta que eu Gosto</a></li>
                    </ul>
                </li>
                <li><a href="{% url 'busca' 'artigos' 1 %}">Artigos</a></li>

                <li><a href="#">Sobre</a></li>
            </ul>

            <ul class="nav pull-right ">

                <li><a href="https://www.facebook.com/castnautas/" style="padding: 8px 4px 0px;">
                    <img src="{% static 'img/gallery/ico-facebook.png' %}" style="height: 25px;width: 25px;"></a>

                </li>
                <li>
                    <a href="https://www.instagram.com/castnautas/" style="padding: 8px 4px 0px;">
                        <img src="{% static 'img/gallery/ico-instagram.png' %}" style="height: 25px;width: 25px;"></a>
                </li>
                <li>
                    <a href="https://twitter.com/castnautas" style="padding: 8px 4px 0px;">
                        <img src="{% static 'img/gallery/ico-twitter.png' %}" style="height: 25px;width: 25px"></a></li>
                <li>
                    <a href="http://feeds.feedburner.com/Castnautas" style="padding: 8px 4px 0px;" target="_blank">
                        <img src="{% static 'img/gallery/ico-feed.png' %}" style="height: 25px;width: 25px;"></a></li>

            </ul>
        </div>
    </div>
</div>

<div class="container" style="padding-top: 150px;">

    {% block headline %}


    {% endblock headline %}

    <div class="row">

        <!-- Blog Posts
        ================================================== -->
        <div class="span8 blog">
            {% block body %}
            {% endblock body %}
        </div>

        <!-- Blog Sidebar
        ================================================== -->
        <div class="span4 sidebar">

            <!--Search-->
            <section>
                <div class="input-append">
                    <form method="post" class="form ">
                        {% csrf_token %}
                        {{ form.categorias }}

                        <button class="btn" type="submit"><i class="icon-search"></i></button>
                    </form>
                </div>
            </section>

            <!--Programs-->
            <h5 class="title-bg">Programas</h5>

            <ul class="post-category-list">

                <li><a href="{% url 'busca' 'boteco-cosmico' 1 %}"><i class="icon-tags"></i>Boteco Cósmico</a></li>
                <li><a href="{% url 'busca' 'castnautas-jogam' 1 %}"><i class="icon-tags"></i>CastNautas Jogam</a></li>
                <li><a href="{% url 'busca' 'audio-dramas' 1 %}"><i class="icon-tags"></i>Audio Dramas</a></li>

            </ul>

            <!--Tag-->
            <h5 class="title-bg">Tags</h5>
            <ul class="post-category-list">
                <li><a href="{% url 'busca' 'rpg' 1 %}"><span class="icon-tags"></span> RPG</a></li>
                <li><a href="{% url 'busca' 'nerd' 1 %}"><span class="icon-tags"></span> Nerd</a></li>
                <li><a href="{% url 'busca' 'cinema' 1 %}"><span class="icon-tags"></span> Cinema</a></li>
                <li><a href="{% url 'busca' 'quadrinhos' 1 %}"><span class="icon-tags"></span> Quadrinhos</a></li>
                <li><a href="{% url 'busca' 'seriado' 1 %}"><span class="icon-tags"></span> Seriado</a></li>
            </ul>


            <!--Tabbed Content-->


            <!--Twitch Widget-->
            <h5 class="title-bg">Castautas Twitch</h5>
            <iframe src="https://player.twitch.tv/?autoplay=false&video=v225408461" frameborder="0"
                    allowfullscreen="false" scrolling="no" height="208" width="370"></iframe>
            <a href="https://www.twitch.tv/videos/225408461?tt_content=text_link&tt_medium=vod_embed"
               style="padding:2px 0px 4px; display:block; width:345px; font-weight:normal; font-size:10px; text-decoration:underline;"></a>
        </div>

    </div>


    <div style="text-align:center "><!-- Begin Footer -->

        <div style="text-align: center">

            <strong style="font-size: 10px">Copyright 2018 Castnautas. Todos os direitos reservados.</strong>

        </div>


    </div>
</div>


</body>
</html>