{% extends 'base.html' %}
{% load auth_extras %}
{% load nome_extras %}
{% load static %}

{% block body %}
    <h3 class="title-bg"><a href="/post/{{ postagem.pk }}">{{ postagem }} </a></h3>
    <div class="post-content">
        <a href="#"><img src="{{ postagem.imagem_grande.url }}" alt="Post Thumb"></a>

        <div class="post-body">
            <b> <a href="{{ postagem.arquivo_audio.url }}" download>Clique AQUI para fazer Download do Episódio!</a>

            </b>
            <p>
                <audio controls="controls" id="player">

                    <source src="{{ postagem.arquivo_audio.url }}" type="audio/mpeg"/>
                    Seu navegador não suporta elementos de audio!
                </audio>
            <p>
                {{ postagem.texto|safe }}
            </p>
        </div>


        <div class="post-summary-footer" style="font-size:12px">
            <ul class="post-data">
                <i class="icon-calendar"></i> {{ postagem.dia }}

                <span class="icon-tags"></span>

                {% for tag in postagem.categorias.all %}
                    <a href="/busca/{{ tag }}/1">{{ tag }}</a>
                {% endfor %}


            </ul>
        </div>
    </div>

    <div class="fb-comments" data-href="{{ postagem.url_comentarios }}" data-numposts="5"></div>

    {% if request.user|has_group:'admin' %}


        <table class="table">

            <tbody>

                <tr>
                    <td>Plays</td>
                    <td>{{ postagem.plays }}</td>
                </tr>
            <tr>
                    <td>Visitas</td>
                    <td>{{ postagem.visitas }}</td>
                </tr>

            </tbody>
        </table>

        <table class="table">
            <thead>
            <th>Cidade</th>
            <th>Visitas</th>
            </thead>
            <tbody>
            {% for visita in postagem.visitas_relatorio %}
                <tr>
                    <td>{{ visita }}</td>
                    <td>{{ postagem.visitas_relatorio|get_item:visita }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>


    {% endif %}
    <script>
        var player = document.getElementById("player");
        player.addEventListener("play", function () {
            var post = {{ postagem.pk }};

            $.ajax(
                {
                    type: "GET",
                    url: "/plays",
                    data: {
                        post: post
                    },
                    success: function (data) {
                        console.log(data);
                    }
                })


        });
    </script>
{% endblock body %}